
.redes_so li {
    display: inline-block; /* Muestra los elementos de lista en línea */
    margin-right: -20px; /* Espaciado entre elementos de lista */
}

.redes_so img {
    width: 40px;
    height: 40px;
}

.redes_so figure {
    margin: 0px; /* Ajusta el margen de las figuras para eliminar el espacio adicional */
}


.opciones{
    width: 100%; /* Ancho del menú */
    position: fixed; /* Posicionamiento fijo para que el menú permanezca en la parte superior */
    top: 0; /* Coloca el menú en la parte superior */
    left: 0; /* Alinea el menú a la izquierda */
    display: flex;
    
}

.opciones ul{
    margin: 0;
    padding: 0;
    background-color: #660202;
    overflow: hidden;
    width: 100%; 

}

.opciones li{
    float: left;
}

.opciones li a{
    padding: 30px;
    text-align: center;
    display: block;
    color: #ffffff;
    
}